<li class='list-grid-item list-grid-item-50 btn-round btn-filter btn-rectangle fn-modulate-btn' modulate-type="{{type}}" modulate-value={{value}} filter-index={{@index}}>
				<span class='rotate-extra-circle'></span>
					<span class='ic-value' style="transform:rotate({{{rotatePercentage 50 min max}}}deg)">
						<span class='btn-label-abs'>{{type}}</span>
					</span>
				</li>

				