<div class="input-knob-container">
	
<label class='label label_knob' for="{{type}}">{{type}}</label>
<input type="button" value="{{value}}" data-min='{{min}}' data-max='{{max}}' id='{{type}}' data-type='{{type}}' class='buttons buttons_knob fn-knob'>

</div>