<h5>Groepsnummer:</h5>
<h1>{{group.number}}</h1>
<p>stel je voor</p>

<form action="/create/newGroup/{{group.number}}" method='post'>
	
	{{#if username}}
		<input type="text" placeholder="{{username}}" value="{{username}}" name='username'>
	{{else}}
		<input type="text" placeholder="{{username}}" value="{{placeholder}}" name='username'>
	{{/if}}
	<input type="submit">
	
</form>