	
		<ul class='list list-clear list-grid '>

		{{#each group.modulate}}
			<li class='list-grid-item list-grid-item-50 btn btn-round btn-filter btn-rectangle fn-modulate-btn' modulate-type='{{type}}' filter-index={{@key}} modulate-value={{value}}>
				<span class='ic-value' style='transform:rotate({{{rotatePercentage 50 min max}}}deg)'></span>
				<span class='text-white btn-label-abs'>{{type}}</span>
			</li>

			{{/each}}
		</ul>
	{{!-- 	<div class="slider-container-container ">
			<div class="slider-container fn-slider">
				{{#each group.modulate}}
					<div class="slider-item fn-slider-item">
						<div class='block-filter-top'>
							<div class='btn-round btn-filter btn-xlg btn-rectangle fn-modulate-btn'>
								<span class='btn-label-abs'> {{type}} </span>
							</div>
						</div>
					</div>
				{{/each}}
				
			</div>
		</div>
		<form class='fn-modulate-settings block-modulate-settings' active-index={{@index}}>
						
				<ul class='list-clear text-white'>
					{{#each group.modulate.0.settings}}
					
						
							<li class='fn-setting {{#if adjustable}}{{else}}hide{{/if}}'>
								<input class='input input-range fn-filter-settings ' type='range' name='points' min='{{min}}' max='{{max}}' steps={{steps}} value='{{value}}' id={{type}} >
								<label class='fn-label text-small'for="{{type}}" > {{type}}:</label>
							</li>
					{{/each}}
				</ul>
			</form>

		</div> --}}