

<ul class='list list-clear list-selector'>
	{{#each group.sources}}
	<li class='list-selector-item btn-selector fn-selector-buttons' target-element={{@index}}>
		<h5>OSC{{@index}}</h5>
	</li>
	{{/each}}
	<div class='active-bar-container fn-active-bar-container' active='0'>
		<span class='active-bar'></span>
	</div>
</ul>
	
	
<form class='form form-osc fn-element fn-form-radio fn-form-modulate'>
	<label for='range' class='text-yellow col col-50'><h5>DETUNE</h5></label>

	<div class='col col-50 text-right'>
		<label for='active' class='text-yellow'>
			<h5>ACTIVE</h5>
		</label>
		<input type='checkbox' id='active' name='active' class='input-switch fn-active'>
	</div>

	<div class='input-range-color-wrapper col col-100'>
		<input class='input input-range-color fn-slider fn-input' id='range' type='range' name='detune' min='0' max='100' value='0'>
		<div class='input-bg fn-slider-bg'></div>
	</div>

	<div class='list-meter-wrapper col col-100'>

		<ul class='list list-clear list-meter text-right fn-radio-slider fn-wavetype' index={{@index}}>
			{{#each group.wavetypes}}
				<li>
					<input type='radio' name='wavetype'  id='{{@index}}' class='input-radio fn-input' value='0' wavetype='{{this}}'>
					<label for='{{@index}}' class='input-radio-label'><h5 class='text-yellow text-uppercase' >{{this}}</h5></label>
				</li>
			{{/each}}
		</ul>
	</div>
</form>



{{!-- 
		<div class='container container-fixed container-padding-lg pagetransition pagetransition-slide fn-transition-page' origin='right' active='false' current-page='osc'>
		
		<ul class='list list-clear list-selector'>
			{{#each group.sources}}
				<li class='list-selector-item btn-selector fn-selector-buttons' target-element={{@index}}>
					<h5>OSC{{@index}}</h5>
				</li>
			{{/each}} 
			<div class='active-bar-container fn-active-bar-container' active='0'>
				<span class='active-bar'></span>
			</div>
		 	
		 </ul>

			
		 	
			 <form class='form form-osc fn-element fn-form-radio fn-form-modulate' active='false'>
				
				<label for='range' class='text-yellow col col-50'><h5>DETUNE</h5></label>
				<div class='col col-50 text-right'>
					<label for='active' class='text-yellow'>
						<h5>ACTIVE</h5>
					</label>
					<input type='checkbox' id='active' class='input-switch fn-active'>
					
				</div>

				  <div class='input-range-color-wrapper col col-100'>
				  	<input class='input input-range-color fn-slider fn-input' id='range' type='range' name='points' min='0' max='100' value='0'>
				  <div class='input-bg fn-slider-bg'>
				  </div>
				  	
				  </div>
				
				<div class='list-meter-wrapper col col-100'>
				
					<ul class='list list-clear list-meter text-right fn-radio-slider fn-wavetype' index={{@index}}>
					{{#each group.wavetypes}}
						<li>
							<input type='radio' name='wavetype'  id='{{@index}}' class='input-radio fn-input' value='0' wavetype='{{this}}'>
							<label for='{{@index}}' class='input-radio-label'><h5 class='text-yellow text-uppercase' >{{this}}</h5></label>
						</li>
					{{/each}}
					
				</ul>


				</div>
			 </form>

	</div> --}}