
<div class="container container-default container-fullsize">
<header class='header'>
	
	<h2 class="header_title center">{{title}}</h2>
	<a href="{{backLink}}" class='left'>
		<div class="ic ic_back"></div>
	</a>
</header>

<form action="/play/add" method='post' class='fn-post-radio'>
	
<ul class='list-addModules list-clear list-radio'>
	{{#each categories}}
		{{#each modules}}
			
			<li class='fn-select-module' style='color:{{../color}}' module-id={{id}}>
				<input type="radio" name='module' value="{{id}}" id="{{id}}" class=''>
				<label for="{{id}}">{{title}}</label>
			</li>
		{{/each}}
	{{/each}}
</ul>
<input type="submit">

</form>
</div>

<script>
	window.onload = function () {
		module.addModule();
	}
</script>