<div class="container container-fixed animate-page animate-page-modulate fn-animate-page" current-page='filters' active='false' origin='left'>

<ul class='list list-clear list-grid container-bottom container-padding-lg'>
	{{#each group.modulate}}
		<li class='list-grid-item list-grid-item-50 btn btn-round btn-filter btn-rectangle fn-modulate-btn' modulate-type="{{type}}" modulate-value={{value}}>
			<span class="ic-value" style="transform:rotate({{{rotatePercentage 50 min max}}}deg)"></span>
			<span class='text-blue btn-label-abs'>{{type}}</span>
		</li>
	{{/each}}
</ul>

</div>

<div class="container animate-page animate-page-modulate fn-animate-page container-padding-lg" current-page='osc' active='true' origin='right'>
	
	 <ul class='list list-clear list-selector'>
		{{#each group.sources}}
			<li class='list-selector-item btn-selector fn-selector-buttons' target-element={{@index}}>
				<h5>OSC{{@index}}</h5>
			</li>
		{{/each}} 
		<div class="active-bar-container fn-active-bar-container" active="0">
			<span class="active-bar"></span>
		</div>
	 	
	 </ul>
	 <div class="animate-element-container">
	 	{{#each group.sources}}
		 <div class='animate-element fn-element' current-element={{@index}} active="false">
		 	<h2>element {{@index}}</h2>
		 </div>
		 {{/each}}
	 </div>
</div>




{{!-- 

<div class="container container-fullsize container-default">
	<div class="slider-step fn-stepslider">
		<div class="slider-step-inner fn-stepslider-inner"></div>
	</div>

	<div class="slider-fullpage fn-fullpage-slider container-padding">
		<div class="slide slide-left slide-active fn-fullpage-slide" swipe-direction='right'>
			<h2>Hey {{user.username}}, {{group.groupCounter}}</h2>
			<div class="container-center">
				<ul class="list list-twogrid ">
					{{#each group.modulate}}
						<li class='btn btn-modulate fn-modulate-btn' data-index={{@index}} data-type="{{type}}" data-value={{value}} >
							<div class="content-wrapper">
								
							<p class="content">{{type}}</p>
						</li>
						
					{{/each}}
				</ul>
				<div class="press-overlay fn-overlay">
					<h1 class='fn-modulate-value'>value</h1>
				</div>
			</div>
		</div>

		<div class="slide slide-right fn-fullpage-slide" swipe-direction='left'>
			<h2>change the stuff here</h2>
		</div>
	</div>
	
</div>

<div class="overlay overlay-pressplay">
	<p>Ben je er klaar voor?</p>
	<div class="btn btn-cta btn-cta-black fn-press-play">Beginnen!</div>
</div>




 --}}
<script>
	var audioData  = {{{json group}}};
	console.log({{{json this}}});
</script> 