<div class="container container-fixed pagetransition pagetransition-slide fn-transition-page" current-page='load' active='true' origin='up' full='true'>
	<div class="container container-padding-lg container-fixed ">
	<h2 class='fn-info'>
		dit is de tutorial
	</h2>
	{{!-- <button id='playButton'>test</button> --}}
	<div class='btn btn-yellow fn-start-sequece'>
		start
	</div>
</div>
</div>


<div class="container container-fixed pagetransition pagetransition-slide fn-transition-page" current-page='sequencer' active='false' origin='left'>
	<div class="container container-padding-lg container-fixed ">
	<h2 class='fn-info'></h2>
	
		<ul class='list list-grid list-clear fn-start-animation animate-stagger animate-stagger-in-fast stagger-kids-{{arrayLength group.steps}}'>
			
			{{#each group.steps}}
				<li class='list-grid-item list-grid-item-25 btn-rectangle'>
					<span  class='btn btn-round btn-grid-item btn-sequencer {{#if active}}active{{/if}} fn-sequencer-item' sequence-index={{@index}} frequency={{frequency}} max={{max}}>
						<span class="rotate-extra-circle"></span>
					</span>
				</li>
			{{/each}}
		</ul>

	</div>
</div>

<div class="container container-fixed pagetransition pagetransition-slide fn-transition-page" current-page='pp' active='false' origin='right'>

	<ul class='list-grid list-grid-pp list-clear container-fixed fn-start-animation animate-stagger animate-stagger-in-slow stagger-kids-8'>
		{{#each group.pp}}
			
			<li class='block-pp text-white fn-pp-button' pp-index={{@index}} pp-value={{this}}>
				
			</li>
		{{/each}}
	</ul>

	
</div>

<div class="container container-fixed pagetransition pagetransition-slide fn-transition-page" current-page='adsr' active='false' origin='left'>
	
	<ul class='list list-adsr list-clear container-padding-md '>
		{{#each group.adsr}}
			<li class='list-adsr-item '>
				<div class="list-adsr-item-inner btn btn-adsr fn-adsr-button"  type={{@key}} value={{this}} max="3"><span class='btn-label'>{{@key}}</span></div>
			</li>
		{{/each}}
	</ul>
	
	
		
</div>
<nav class='nav nav-bottom' >
<ul class='list list-clear fn-nav animate-nav' nav='pp'>
			<li class='text text-icon text-white fn-nav-buttons' target-page='sequencer'>
				<span class='ic ic_forward ic_text'></span>
				SEQ
			</li>
			<li></li>
			<li></li>
			
		</ul>
			<ul class='list list-clear fn-nav animate-nav 'nav='adsr'>
				<li></li>
				<li></li>
				<li class='text text-icon text-white fn-nav-buttons' target-page='sequencer'>SEQ <span class='ic ic_back ic_text' ></span></li>
			</ul>
			<ul class='list list-clear fn-nav animate-nav' nav='sequencer'>
				<li class='text text-icon text-white fn-nav-buttons' target-page='adsr'><div><span class='ic ic_forward ic_text'></span>ADSR</div></li>
				<li class=' text-black'><div class=' btn btn-yellow btn-rounded  btn-md fn-seq-sh'>S&H</div></li>
				<li class='text text-icon text-white fn-nav-buttons'  target-page='pp'><div>PP <span class='ic ic_back ic_text'></span></div></li>
			</ul>
		</nav>
<script>
	var data  = {{{json group}}};
	console.log(data);
	
</script>

