<div class="animate-page animate-page-sequencer fn-animate-page" current-page='sequencer' active='true'>
	<div class="container container-padding-lg container-fixed ">
		<ul class='list list-grid list-grid-4 list-clear fn-start-animation animate-stagger animate-stagger-in-fast stagger-kids-{{arrayLength group.steps}}'>
			
			{{#each group.steps}}
				<li class='grid-item'>
					<span  class='btn btn-round btn-grid-item btn-sequencer {{#if active}}active{{/if}} fn-sequencer-item' style='background:radial-gradient(rgba(0,0,0,0) {{{percentageRadial frequency min max}}}%,  #3038F2 {{{percentageRadial frequency min max}}}% )' sequence-index={{@index}}>
						
					</span>
				</li>
			{{/each}}
		</ul>

		
		


		<nav class='nav nav-bottom'>
			<ul class='list list-clear fn-nav fn-start-animation animate-stagger animate-stagger-in-fast stagger-kids-3'>
				<li class='text text-icon text-white fn-nav-buttons' target-page='adsr'><div><span class='ic ic_forward ic_text'></span>ADSR</div></li>
				<li class=' text-black'><div class=' btn btn-yellow btn-round  btn-md fn-seq-sh'>S&H</div></li>
				<li class='text text-icon text-white fn-nav-buttons'  target-page='pp'><div>PP <span class='ic ic_back ic_text'></span></div></li>
			</ul>
		</nav>
	</div>
</div>

<div class="animate-page animate-page-sequencer fn-animate-page" current-page='pp' active='false'>

	<ul class='list-grid list-grid-pp list-clear container-fixed fn-start-animation animate-stagger animate-stagger-in-slow stagger-kids-8'>
		{{#each pp}}
			
			<li class='list-grid-pp-item text-white fn-pp-button' pp-index={{@index}} pp-value={{this}}>
				{{@index}}
			</li>
		{{/each}}
	</ul>

	<nav class='nav nav-bottom '>
		<ul class='list list-clear fn-nav  fn-start-animation animate-stagger animate-stagger-in-fast stagger-kids-3'>
			<li class='text text-icon text-white fn-nav-buttons' target-page='sequencer'>
				<span class='ic ic_forward ic_text'></span>
				SEQ
			</li>
			<li class='btn btn-yellow btn-round  btn-md text-black'>S&H</li>
			<li></li>
			
		</ul>
	</nav>
</div>

<div class="animate-page animate-page-sequencer fn-animate-page" current-page='adsr' active='false'>
	<h2>this is adsr</h2>

		<nav class='nav nav-bottom'>
			<ul class='list list-clear fn-nav fn-start-animation animate-stagger animate-stagger-in-fast stagger-kids-3'>
				<li></li>
				<li></li>
				<li class='text text-icon text-white fn-nav-buttons' target-page='sequencer'>SEQ <span class='ic ic_back ic_text' ></span></li>
			</ul>
		</nav>
</div>

<script>
	var audioData  = {{{json group}}};
	
</script>

