<div class='container container-default container-fullsize container-center'>

<header class='header header-abs-top'>
	
	<h2 class="header_title">SEQUENCER {{groupCounter}}</h2>
	
</header>

<div class="text-module-info closed fn-sawlight">
	<p>De frequentie wordt aangepast door de lichtinval, probeer je hand eens boven je teefoon te bewegen</p>
</div>


<ul class='list list-clear list-fourgrid fn-sequencer list-padding list-length-{{{arrayLength steps}}}'>
	{{#each steps}}
	<li class='fn-sequencer-item btn btn-round 
		{{#if active}}
		{{else}} 
			inactive
		{{/if}}'
		style='background:radial-gradient(rgba(0,0,0,0) {{{percentageRadial frequency min max}}}%,  #3038F2 {{{percentageRadial frequency min max}}}% )' sequence-index={{@index}}>
		<div class="inner-circle fn-inner-circle"></div>
	
	</li>
	{{/each}}
</ul>
<input type="range" min="0" max="2200" step="220" value="100"  class='input input-range inactive fn-frequency-input absolute-bottom' disabled>
</div>

<div class="overlay overlay-pressplay">
	<p>Ben je er klaar voor?</p>
	<div class="btn btn-cta btn-cta-black fn-press-play">Beginnen!</div>
</div>


<script>
	var audioData  = {{{json this}}};
	
</script>